.app-container {
  padding-top: 8%;
}
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}
.notification-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  background: linear-gradient(to right, #175a94, #12945d);
}
.notification-text {
  color: #ffffff;
}
.tab-container {
  display: flex;
  background-color: #111827;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.name-container {
  display: flex;
  cursor: pointer;
  /* justify-content: center; */
  align-items: center;
  font-size: 20px;
  width: 15%;
  color: #ffffff;
}
.tab-inner-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.tab-text {
  margin: 0 24px 0 24px;
  font-size: 16px;
  line-height: 12px;
  text-decoration: none;
  color: #ffffff;
}

.tab-text:hover {
  font-weight: 400;
  text-decoration: underline;
}

.active-tab {
  font-weight: 600;
}

.inactive-text {
  font-weight: 300;
}
.menu-icon-container {
  width: 15%;
  text-align: end;
}
.tab-bar-name-text {
  margin-left: 8px;
}
.tab-bar-name-logo {
  height: 28px;
  border-radius: 14px;
}
