.intro-container {
  display: flex;
  padding: 5rem;
  background-color: #1f2937;
}
.about-container {
  padding: 5rem 5rem;
  background-color: #111827;
}
.about-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.about-me-text {
  text-align: center;
}
.xp-container {
  background: #1f2937;
  margin-right: 24px;
  align-items: center;
  padding: 24px;
  flex: 1;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.xp-content-container {
  margin-left: 16px;
}
.xp-item-container {
  display: flex;
  align-items: center;
}
.xp-content-title {
  font-size: 20px;
}
.xp-content-subtitle {
  font-size: 16px;
  color: #9ca3af;
}
.xp-content-location {
  color: #6b7280;
}
.whoiam-container {
  margin-left: 24px;
  flex: 1;
}
.whoami-text {
  font-size: 16px;
  line-height: 22px;
  color: #d1d5db;
}
.intro-text {
  flex: 1;
}
.intro-image-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5ff;
  color: #ffffff;
}
.title {
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
}
.subtitle {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #9ca3af;
}
.intro-image {
  height: 240px;
  width: 240px;
  border-radius: 120px;
}
.download-button {
  cursor: pointer;
  background-color: transparent;
  border-color: #ffffff;
  border-width: 1;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
}
.skills-container {
  padding: 5rem;
  background: #1f2937;
}
.skill-text {
  font-size: 30px;
  text-align: center;
}
.skill-details-text {
  font-size: 16px;
  color: #9ca3af;
  text-align: center;
  margin: 24px 0 48px 0;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 60px;
  height: "auto";
  overflow: "hidden";
}
.show-more-cta {
  text-align: center;
  margin: 12px 0;
}
.project-container {
  padding: 5rem;
  background: #111827;
}
.article-container {
  padding: 5rem;
  background: #1f2937;
}
.home-footer {
  background: #111827;
  padding: 5rem;
}
.home-footer-top-container {
  display: flex;
  justify-content: space-between;
}
.home-footer-bottom-container {
  padding: 1rem;
  text-align: center;
}
.home-footer-top-left-text {
  justify-content: center;
  align-items: center;
  text-align: center;
}
