.articles-card-details-container {
  background: #111827;
  border-radius: 8px;
}
.articles-card-details-sub-container {
  height: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: blue; */
}
.articles-time-and-tags-container {
  display: flex;
}
.articles-time-container {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
.articles-time-text {
  font-size: 16px;
  margin-left: 8px;
}
.articles-image-logo {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
