.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.overlay-content {
  padding: 2rem;
  border-radius: 10px;
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
  background-color: #1f2937;
}
.top-section {
  text-align: end;
  color: #6b7281;
}
